// $grid-breakpoints: (
//   sm: 576px,
//   md: 768px,
//   xl: 1200px,
// );
a {
  display: flex;
  background-color: rgb(241, 109, 39);
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  display: flex;
  background-color: rgb(255, 196, 0);
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 100px;
}

.boxes {
  display: flex;
  width: 500px;
  height: 500px;
  border: 4px solid rgb(187, 100, 24);
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
}

.mini-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(247, 210, 159);
  background-color: rgb(245, 230, 206);
  font-size: 20px;
  color: rgb(125, 71, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}

.box-1 {
  display: flex;
  justify-content: space-between;
}

.box-2 {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.box-3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.box-4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: end;
  align-items: end;
}

.box-5 {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.mini-box-bebe {
  flex-grow: 2;
}
